@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-Black.ttf');
    src: local('Linik Sans Black'), local('LinikSans-Black'),
        url('../fonts/LinikSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-BlackItalic.ttf');
    src: local('Linik Sans BlackItalic'), local('LinikSans-BlackItalic'),
        url('../fonts/LinikSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-Bold.ttf');
    src: local('Linik Sans Bold'), local('LinikSans-Bold'),
        url('../fonts/LinikSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-BoldItalic.ttf');
    src: local('Linik Sans BoldItalic'), local('LinikSans-BoldItalic'),
        url('../fonts/LinikSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-ExtraBold.ttf');
    src: local('Linik Sans ExtraBold'), local('LinikSans-ExtraBold'),
        url('../fonts/LinikSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-ExtraBoldItalic.ttf');
    src: local('Linik Sans ExtraBoldItalic'), local('LinikSans-ExtraBoldItalic'),
        url('../fonts/LinikSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-ExtraLight.ttf');
    src: local('Linik Sans ExtraLight'), local('LinikSans-ExtraLight'),
        url('../fonts/LinikSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-ExtraLightItalic.ttf');
    src: local('Linik Sans ExtraLightItalic'), local('LinikSans-ExtraLightItalic'),
        url('../fonts/LinikSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-Light.ttf');
    src: local('Linik Sans Light'), local('LinikSans-Light'),
        url('../fonts/LinikSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-LightItalic.ttf');
    src: local('Linik Sans LightItalic'), local('LinikSans-LightItalic'),
        url('../fonts/LinikSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-Medium.ttf');
    src: local('Linik Sans Medium'), local('LinikSans-Medium'),
        url('../fonts/LinikSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-MediumItalic.ttf');
    src: local('Linik Sans MediumItalic'), local('LinikSans-MediumItalic'),
        url('../fonts/LinikSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-Regular.ttf');
    src: local('Linik Sans Regular'), local('LinikSans-Regular'),
        url('../fonts/LinikSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-SemiBold.ttf');
    src: local('Linik Sans SemiBold'), local('LinikSans-SemiBold'),
        url('../fonts/LinikSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-SemiBoldItalic.ttf');
    src: local('Linik Sans SemiBoldItalic'), local('LinikSans-SemiBoldItalic'),
        url('../fonts/LinikSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-Thin.ttf');
    src: local('Linik Sans Thin'), local('LinikSans-Thin'),
        url('../fonts/LinikSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Linik Sans';
    src: url('../fonts/LinikSans-ThinItalic.ttf');
    src: local('Linik Sans ThinItalic'), local('LinikSans-ThinItalic'),
        url('../fonts/LinikSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-BoldItalic.eot');
    src: local('Inter Bold Italic'), local('Inter-BoldItalic'),
        url('../fonts/Inter-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter-BoldItalic.woff') format('woff'),
        url('../fonts/Inter-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-MediumItalic.eot');
    src: local('Inter Medium Italic'), local('Inter-MediumItalic'),
        url('../fonts/Inter-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter-MediumItalic.woff') format('woff'),
        url('../fonts/Inter-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ThinItalicBETA.eot');
    src: local('Inter Thin Italic BETA'), local('Inter-ThinItalicBETA'),
        url('../fonts/Inter-ThinItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ThinItalicBETA.woff2') format('woff2'),
        url('../fonts/Inter-ThinItalicBETA.woff') format('woff'),
        url('../fonts/Inter-ThinItalicBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Black.eot');
    src: local('Inter Black'), local('Inter-Black'),
        url('../fonts/Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Black.woff2') format('woff2'),
        url('../fonts/Inter-Black.woff') format('woff'),
        url('../fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-BlackItalic.eot');
    src: local('Inter Black Italic'), local('Inter-BlackItalic'),
        url('../fonts/Inter-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-BlackItalic.woff2') format('woff2'),
        url('../fonts/Inter-BlackItalic.woff') format('woff'),
        url('../fonts/Inter-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-LightBETA.eot');
    src: local('Inter Light BETA'), local('Inter-LightBETA'),
        url('../fonts/Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-LightBETA.woff2') format('woff2'),
        url('../fonts/Inter-LightBETA.woff') format('woff'),
        url('../fonts/Inter-LightBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.eot');
    src: local('Inter Semi Bold'), local('Inter-SemiBold'),
        url('../fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter-SemiBold.woff') format('woff'),
        url('../fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBoldItalic.eot');
    src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'),
        url('../fonts/Inter-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Inter-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraLightItalicBETA.eot');
    src: local('Inter Extra Light Italic BETA'), local('Inter-ExtraLightItalicBETA'),
        url('../fonts/Inter-ExtraLightItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ExtraLightItalicBETA.woff2') format('woff2'),
        url('../fonts/Inter-ExtraLightItalicBETA.woff') format('woff'),
        url('../fonts/Inter-ExtraLightItalicBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraLightBETA.eot');
    src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'),
        url('../fonts/Inter-ExtraLightBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ExtraLightBETA.woff2') format('woff2'),
        url('../fonts/Inter-ExtraLightBETA.woff') format('woff'),
        url('../fonts/Inter-ExtraLightBETA.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ExtraBold.eot');
    src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
        url('../fonts/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter-ExtraBold.woff') format('woff'),
        url('../fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-ThinBETA.eot');
    src: local('Inter Thin BETA'), local('Inter-ThinBETA'),
        url('../fonts/Inter-ThinBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-ThinBETA.woff2') format('woff2'),
        url('../fonts/Inter-ThinBETA.woff') format('woff'),
        url('../fonts/Inter-ThinBETA.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-LightItalicBETA.eot');
    src: local('Inter Light Italic BETA'), local('Inter-LightItalicBETA'),
        url('../fonts/Inter-LightItalicBETA.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-LightItalicBETA.woff2') format('woff2'),
        url('../fonts/Inter-LightItalicBETA.woff') format('woff'),
        url('../fonts/Inter-LightItalicBETA.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Italic.eot');
    src: local('Inter Italic'), local('Inter-Italic'),
        url('../fonts/Inter-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Italic.woff2') format('woff2'),
        url('../fonts/Inter-Italic.woff') format('woff'),
        url('../fonts/Inter-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBoldItalic.eot');
    src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'),
        url('../fonts/Inter-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Inter-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.eot');
    src: local('Inter Medium'), local('Inter-Medium'),
        url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff'),
        url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}