:root {
    --clr-black: #1D1E1B;
    --clr-white: #fff;
    --clr-white-100: #e9e9e9;
    --clr-gray: #868686;
    --clr-gray-100:#f6f6f6;
    --clr-pink-100: #F1EBFD;
    --clr-purple: #9b66ea;
    --clr-purple-100: #C098F2;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter';
}

button {
    padding: 16px 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;

    cursor: pointer;
    background: transparent;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .3s ease-in-out;
}

select {
    outline: none;
    border: none;
    cursor: pointer;
}    

a {
    text-decoration: none;
}

h1 {
    font-family: 'Linik Sans', sans-serif;

    font-size: 64px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
}

h2 {
    font-family: 'Linik Sans', sans-serif;

    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

.sticky {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.section {
    padding: 102px 0 80px;

    background-color: var(--clr-white);
}

.section__article {
    gap: 20px;
}

.section__article-cntr {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section__title {
    margin: 0;
}

.section__subtitle {
    margin: 0;
}

.section__title-cntr {
    text-align: center;
}

.purple {
    color: var(--clr-purple);
}

.tab {
    padding: 10px 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    background: var(--clr-white);
}

.tab p {
    margin: 0;
    color: var(--clr-black);
    font-family: Linik Sans;

    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
}

.link-arrow {
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
    background: var(--clr-white);
}

.link-arrow::after {
    content: '';

    height: 20px;
    width: 20px;

    background: no-repeat url(../icons/chevron.svg) center / cover;
}

.btn-link {
    padding: 20px 30px;
    color: var(--clr-purple);

    box-sizing: border-box;
    outline: 1px solid var(--clr-purple);
    border-radius: 30px;
}

.btn-link:hover {
    color: var(--clr-white);
    background-color: var(--clr-purple);
}

.btn-default {
    color: var(--clr-white);
    background-color: var(--clr-purple);
}

.btn-default:hover {
    background-color: #5d1ac1;
}

@media screen and (max-width: 1440px) {
    
    .container {
        max-width: 90%;
    }

}

@media screen and (max-width: 768px) {
    
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
        line-height: 120%;
    }
    
    p {
        font-size: 15px;
        line-height: 140%;
    }

    .section {
        padding: 80px 0 20px;
    }

}