.hero {
    background-color: var(--clr-pink-100);
    overflow: hidden;
    position: sticky;
    top: -80px;
    z-index: 1;
}

.hero__wrap {
    position: relative;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__article {
    max-width: 670px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;

    z-index: 2;
}

.hero__article-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.hero__title {
    margin: 0;
}

.hero__subtitle {
    margin: 0;
    color: var(--clr-gray);
}

.hero__article-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.hero__list {
    padding: 0;
    margin: 0;

    max-width: 210px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;

    z-index: 2;
}

.hero__item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero__item-title {
    margin: 0;
    color: var(--clr-purple);

    font-size: 48px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0%;

    text-align: right;
    text-transform: uppercase;
}

.hero__item-subtitle {
    color: var(--clr-gray);

    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: right;
}

.hero__preview-wrap {
    position: absolute;
    bottom: -220px;
    right: -5%;
}

.hero__preview {
    height: 920px;
    pointer-events: none;
    object-fit: cover;
}

@media screen and (max-width: 1024px) {
    
    .hero__wrap {
        height: 100vh;

        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
    }

    .hero__list {
        max-width: 100%;

        flex-direction: row;
        justify-content: flex-start;
    }

    .hero__item {
        max-width: 210px;
        align-items: flex-start;
    }

    .hero__item-title {
        text-align: left;
    }

    .hero__item-subtitle {
        text-align: left;
    }

    .hero__preview-wrap {
        right: -30%;
    }

}

@media screen and (max-width: 768px) {

    .hero__list {
        display: none;
    }

    .hero__preview-wrap {
        right: -85%;
        bottom: -40%;
    }

}

@media screen and (max-width: 430px) {

    .hero__btn {
        width: 100%;
    }

    .hero__preview-wrap {
        right: -70%;
        bottom: -30%;
    }

    .hero__preview {
        height: 500px;
    }

}

/*section tags*/

.tags {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.tags__wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tags__list {
    width: max-content;

    display: flex;
    gap: 10px;

    animation: scroll-left 30s linear infinite;
}

.tags__list:nth-child(2) {
    animation: scroll-right 30s linear infinite;
}

.tags__item {
    display: inline-flex;
    padding: 16px 24px;
    white-space: nowrap;
    border-radius: 30px;
    background-color: var(--clr-pink-100);
    color: var(--clr-black);
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tags__item:hover {
    background-color: var(--clr-purple);
    color: var(--clr-white);
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(0);
    }
}

/*section tags*/

/*section about*/

.about__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.about__img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 40px;
}

@media screen and (max-width: 768px) {
    
    .about__img {
        border-radius: 10px;
    }

}

/*section about*/