.services {
    border-radius: 80px 80px 0px 0px;
    overflow: hidden;
    background: var(--clr-white, #fff);
}

.services__block {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section__article {
    max-width: 846px;
}

.services__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.services__filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
}

.services__filter-item:last-child {
    align-items: flex-end;
}

.services-swiper__prev,
.services-swiper__next {
    position: absolute;
    top: 55%;

    padding: 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: var(--clr-purple);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 10;
}

.services-swiper__prev {
    left: -5%;
}

.services-swiper__next {
    right: -5%;
}

.services-swiper__prev::after,
.services-swiper__next::after {
    content: '';
    width: 24px;
    height: 24px;
    display: block;
    background: no-repeat url(../icons/chevron_white.svg) center / cover;
}

.services-swiper__prev::after {
    transform: rotate(180deg);
}

.services-swiper__prev:hover,
.services-swiper__next:hover {
    background: #5d1ac1;
}

.services-swiper__prev.swiper-button-disabled,
.services-swiper__next.swiper-button-disabled {
    display: none;
}

.services-empty {
    text-align: center;
    color: var(--clr-gray);
    font-size: 18px;
    padding: 40px 0;
}

.services__filter-item {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
}

.services__filter-label {
    color: var(--clr-black);

    font-family: Linik Sans;

    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
}

.services__filter-select {
    width: 100%;
    margin: 0;
    padding: 18px 50px 18px 30px;

    color: var(--clr-black);

    font-family: Linik Sans;

    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;

    border: none;
    border-radius: 30px;
    background-color: rgba(217, 217, 217, 1);
    
    /* Кастомная стрелка */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5L6 6.5L11 1.5' stroke='%23222F4D' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 20px center;
    
    cursor: pointer;
    transition: .2s ease-in-out;
}

.services__filter-select:hover {
    background-color: rgba(200, 200, 200, 1);
}

.services__filter-select:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--clr-purple);
}

.btn-services {
    width: 100%;
    padding: 18px 30px;
}

.services-swiper {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.services-slide {
    position: relative;
    padding: 20px 20px 40px;

    height: 420px;
    width: 420px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    border-radius: 20px;
    transition: .3s ease-in-out;
    background-color: var(--clr-purple-100);
}

.services-slide::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

    height: 300px;
    width: 260px;

    background: no-repeat url(../picture/bg_logo.svg) center / cover;
}

.services-slide:hover {
    transform: translateY(-20px);
    -webkit-box-shadow: 0px 5px 10px 0px rgba(34, 47, 77, 0.2);
    -moz-box-shadow: 0px 5px 10px 0px rgba(34, 47, 77, 0.2);
    box-shadow: 0px 5px 10px 0px rgba(34, 47, 77, 0.2);
    background-color: var(--clr-purple);
}

.services-slide__header {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.services-slide__title {
    margin: 0;
    color: var(--clr-white);
    font-family: Linik Sans;
    text-align: left;

    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
}

@media screen and (max-width: 768px) {

    .services {
        border-radius: 40px 40px 0 0;
    }
    
    .services__filter {
        flex-direction: column;
    }

    .services__filter-item:last-child {
        margin-top: 20px;
    }

    .services-slide {
        height: 335px;
    }

    .services-slide::after {    
        height: 210px;
        width: 180px;
    }

}