#globalModalOverlay {
    display: none;
    position: fixed;
    z-index: 9998;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    opacity: 0;
    transition: opacity 0.2s ease;
}

#globalModalOverlay.active {
    opacity: 1;
    display: block;
}

#globalModalContact {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%) scale(0.96);
    background: #fff;
    min-width: 320px;
    max-width: 440px;
    width: 90vw;
    box-shadow: 0 6px 24px rgba(38,38,64,0.13), 0 2px 6px rgba(0,0,0,0.05);
    border-radius: 18px;
    padding: 32px 28px 26px;
    opacity: 0;
    transition: transform 0.18s cubic-bezier(.22,1.01,.36,1), opacity 0.22s;
}

#globalModalContact.active {
    display: block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.modal-contact__close {
    padding: 0;
    background: transparent;

    position: absolute;
    top: 16px;
    right: 16px;

    border: 0;
    background: none;
    font-size: 26px;
    color: #c2c2c2;
    cursor: pointer;
    transition: color 0.2s;
    border-radius: 8px;
}

.modal-contact__close:hover {
    color: #222;
    background: #f7f7f7;
}

.modal-contact__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
    text-align: center;
}

.modal-contact__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.modal-contact__input,
.modal-contact__textarea {
    /* width: 100%; */
    padding: 11px 14px;
    font-size: 15px;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    transition: border .2s;
}

.modal-contact__input:focus, .modal-contact__textarea:focus {
    border-color: var(--clr-blue);
    outline: none;
}

.modal-contact__textarea {
    min-height: 74px;
    resize: vertical;
}

.modal-contact__submit {
    background: var(--clr-purple);
    border: none;
    border-radius: 8px;
    color: var(--clr-white);
    padding: 13px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background .14s;
    margin-top: 10px;
}

.modal-contact__submit:hover {
    background: rgb(118, 50, 219);
}

.modal-contact__privacy {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 13px;
    color: #4b4b4b;
}

.modal-contact__privacy input[type="checkbox"] {
    margin-top: 3px;
}

.modal-contact__privacy a {
    color: var(--clr-blue);
    text-decoration: underline;
}

.modal-contact__privacy a:hover {
    text-decoration: none;
}

@media (max-width: 480px) {

    #globalModalContact {
        max-width: 99vw;
        min-width: 0;
        padding: 12vw 6vw 7vw;
    }

    .modal-contact__title { 
        font-size: 17px; 
    }

    .modal-contact__input,.modal-contact__textarea { 
        font-size: 13px; 
    }
    
}
